.todo{
  text-align: center;
  width: 100%;
  height: 600px;
  padding-top: 4%;
  padding-left: 10%;
  padding-right: 10%;
}

#contenedorBotones{
  vertical-align: middle;
  padding-bottom: 3%;
}




